{project_plugins, [exerl_dep]}.

{deps, []}.

{profiles, [
    {test, [
        {deps, [
            rebar,
            {mix, {ex, {tag, "v1.16.2"}}},
            {eex, {ex, {tag, "v1.16.2"}}},
            {elixir, {ex, {tag, "v1.16.2"}}},
            {logger, {ex, {tag, "v1.16.2"}}}
        ]}
    ]}
]}.
