{plugins, [exerl_dep]}.

{profiles, [
    {test, [
        {deps, [
            rebar,
            {mix, {elixir, {tag, "v1.16.2"}}},
            {eex, {elixir, {tag, "v1.16.2"}}},
            {elixir, {elixir, {tag, "v1.16.2"}}},
            {logger, {elixir, {tag, "v1.16.2"}}}
        ]}
    ]}
]}.
